<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Bonuses amount</th>
        <th>Item name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${purchases.empty}">
        <td colspan="3">No Purhcases Available</td>
    </tr>
    <tr th:each="purchase : ${purchases}">
        <td><span th:text="${purchase.purchaseId}">Id</span></td>
        <td><span th:text="${purchase.bonusesAmount}">Bonuses amount</span></td>
        <td><span th:text="${purchase.itemName}">Item name</span></td>
    </tr>
    </tbody>
</table>


</body>
</html>